@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sixty-color: #53131E;
  --thirty-color: #5A464C;
  --ten-color: #FFFACC;
  --font-color: #FFEFBD;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  background-color: var(--sixty-color);
}
